@import './base';
@import './typography';



$dark-color: #184859; // #10b9a2
$light-color: #D5FA37;


body {
  // background: red;
  position: relative;
}

.nav-link {
  margin-right: 20px;
}

nav {
  // background: red;
}




body {
  background-image: url(../images/bg-retro-noise.png);
  // Defaults are overwrite-able by setting one of the following:
  background-size: '300px';
  // backgroundPosition: '',
  background-repeat: 'repeat';
}

// Layout color
.section {
  background-color: rgba(255, 255, 255, 0);
}

.section.alt-color,
#footer {
  background-color: $dark-color;
  color: $light-color;
}

// Conditional color

// when background is dark
.background-checked-dark {
  .mobile-nav,
  .desktop-nav {
    color: $light-color;
  }
}

// when background is light
.background-checked-light {
  .mobile-nav,
  .desktop-nav {
    color: $dark-color;
  }
}
